.loader {
    border: 12px solid #f3f3f3; /* Light grey */
    border-top: 12px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .h1 {
    font-size:18px;
    color:floralwhite;
  }
  .h2 {
    font-size:18px;
    color:floralwhite;
  }
  .h3 {
    font-size:18px;
    color:floralwhite;
  }
  .h4 {
    font-size:18px;
    color:floralwhite;
  }
  .h5 {
    font-size:18px;
    color:floralwhite;
  }
  .h6 {
    font-size:18px;
    color:floralwhite;
  }
  .h7 {
    font-size:18px;
    color:floralwhite;
  }
  
  
  
  
  
